openapi: 3.0.4
info:
  contact:
    email: team@neynar.com
    name: Neynar
    url: https://neynar.com/
  description: The Neynar API allows you to interact with the Farcaster protocol among other things. See the [Neynar docs](https://docs.neynar.com/reference) for more details.
  title: Neynar Action Usernames API
  version: 3.176.0
servers:
- url: https://api.neynar.com
security:
- ApiKeyAuth: []
tags:
- name: Usernames
  description: Operations related to usernames.
paths:
  /v1/userNameProofsByFid:
    get:
      tags:
      - Usernames
      summary: Proofs provided by an FID
      description: Fetch proofs provided by a user.
      externalDocs:
        description: Fetch proofs provided by a user
        url: https://docs.neynar.com/reference/fetch-username-proofs-by-fid
      operationId: fetch-username-proofs-by-fid
      parameters:
      - name: fid
        in: query
        schema:
          type: integer
        required: true
        description: The FID being requested
        example: 616
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsernameProofsResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /v1/userNameProofByName:
    get:
      tags:
      - Usernames
      summary: Proof for a username
      description: Fetch a proof for a username.
      externalDocs:
        description: Fetch a proof for a username
        url: https://docs.neynar.com/reference/fetch-username-proof-by-name
      operationId: fetch-username-proof-by-name
      parameters:
      - name: name
        in: query
        schema:
          type: string
        required: true
        description: The Farcaster username or ENS address
        examples:
          username:
            value: rish
          ENS address:
            value: dwr.eth
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserNameProof'
        default:
          $ref: '#/components/responses/ErrorResponse'
components:
  schemas:
    UsernameProofsResponse:
      type: object
      properties:
        proofs:
          type: array
          items:
            $ref: '#/components/schemas/UserNameProof'
      required:
      - proofs
    UserNameType:
      type: string
      default: USERNAME_TYPE_FNAME
      enum:
      - USERNAME_TYPE_FNAME
      - USERNAME_TYPE_ENS_L1
    UserNameProof:
      type: object
      properties:
        timestamp:
          description: Seconds since Unix Epoch which began on Jan 1, 1970 00:00:00 UTC
          type: integer
          format: uint64
        name:
          type: string
          example: neynar
        owner:
          pattern: ^0x[0-9a-fA-F]{40}$
          type: string
        signature:
          pattern: ^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$
          type: string
          format: byte
        fid:
          description: The FID of the user who owns this username proof
          allOf:
          - $ref: '#/components/schemas/FidSchema'
        type:
          $ref: '#/components/schemas/UserNameType'
      required:
      - timestamp
      - name
      - owner
      - signature
      - fid
      - type
    ErrorResponse:
      required:
      - code
      - details
      - errCode
      - metadata
      - name
      - presentable
      type: object
      properties:
        errCode:
          type: string
        presentable:
          type: boolean
        name:
          type: string
        code:
          type: integer
        details:
          type: string
        metadata:
          required:
          - errcode
          type: object
          properties:
            errcode:
              type: array
              items:
                type: string
    FidSchema:
      type: integer
      format: uint64
      minimum: 1
      description: 'Farcaster ID (FID). A unique identifier assigned to each user in the Farcaster network. This number is permanent and cannot be changed. FIDs are assigned sequentially when users register on the network.

        '
      example: 1
  responses:
    ErrorResponse:
      description: An unexpected error response.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  securitySchemes:
    ApiKeyAuth:
      description: API key to authorize requests
      in: header
      name: x-api-key
      type: apiKey
      x-default: NEYNAR_API_DOCS
