openapi: 3.0.4
info:
  contact:
    email: team@neynar.com
    name: Neynar
    url: https://neynar.com/
  description: The Neynar API allows you to interact with the Farcaster protocol among other things. See the [Neynar docs](https://docs.neynar.com/reference) for more details.
  title: Neynar Action Login API
  version: 3.176.0
servers:
- url: https://api.neynar.com
security:
- ApiKeyAuth: []
tags:
- description: Operations related to login
  name: Login
paths:
  /v2/farcaster/login/nonce/:
    get:
      description: Nonce to sign a message
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-nonce
      operationId: fetch-nonce
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NonceResponse'
          description: Success
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Unauthorized
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Server Error
      summary: Fetch nonce
      tags:
      - Login
components:
  schemas:
    ErrorRes:
      description: Details for the error response
      properties:
        code:
          type: string
        message:
          type: string
        property:
          type: string
        status:
          format: int32
          type: integer
      required:
      - message
      title: ErrorRes
      type: object
    NonceResponse:
      properties:
        nonce:
          description: The nonce value to sign the message
          example: neynarbMi9zSDuOC1GFqixR
          type: string
      required:
      - nonce
      title: NonceResponse
      type: object
  securitySchemes:
    ApiKeyAuth:
      description: API key to authorize requests
      in: header
      name: x-api-key
      type: apiKey
      x-default: NEYNAR_API_DOCS
