openapi: 3.0.4
info:
  contact:
    email: team@neynar.com
    name: Neynar
    url: https://neynar.com/
  description: The Neynar API allows you to interact with the Farcaster protocol among other things. See the [Neynar docs](https://docs.neynar.com/reference) for more details.
  title: Neynar Action organization API
  version: 3.176.0
servers:
- url: https://api.neynar.com
security:
- ApiKeyAuth: []
tags:
- name: organization
paths:
  /portal/organization/billing:
    get:
      description: Retrieves billing and subscription details for the current organization, including plan status, product category, billing email, and effective plan.
      externalDocs:
        url: https://docs.neynar.com/reference/billing
      operationId: billing
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  billing_email:
                    nullable: true
                    type: string
                  effective_plan:
                    type: string
                  has_active_subscription:
                    type: boolean
                  is_trialing:
                    type: boolean
                  organization_name:
                    type: string
                  organization_status:
                    nullable: true
                    type: string
                  plan_tier:
                    nullable: true
                    type: string
                  product_category:
                    nullable: true
                    type: string
                  product_name:
                    nullable: true
                    type: string
                  stripe_customer_id:
                    nullable: true
                    type: string
                  stripe_product_id:
                    nullable: true
                    type: string
                  stripe_subscription_id:
                    nullable: true
                    type: string
                  subscription_end:
                    format: date-time
                    nullable: true
                    type: string
                  subscription_start:
                    format: date-time
                    nullable: true
                    type: string
                  subscription_status:
                    nullable: true
                    type: string
                  workos_organization_id:
                    type: string
                required:
                - workos_organization_id
                - organization_name
                - stripe_customer_id
                - organization_status
                - stripe_subscription_id
                - subscription_status
                - product_name
                - stripe_product_id
                - plan_tier
                - product_category
                - subscription_start
                - subscription_end
                - billing_email
                - has_active_subscription
                - is_trialing
                - effective_plan
                type: object
          description: Success
        '400':
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: string
                  message:
                    type: string
                required:
                - code
                - message
                type: object
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: string
                  message:
                    type: string
                required:
                - code
                - message
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: string
                  message:
                    type: string
                required:
                - code
                - message
                type: object
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: string
                  message:
                    type: string
                required:
                - code
                - message
                type: object
          description: Resource not found
        '500':
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: string
                  message:
                    type: string
                required:
                - code
                - message
                type: object
          description: Server Error
      summary: Get billing information for the current organization
      tags:
      - organization
components:
  securitySchemes:
    ApiKeyAuth:
      description: API key to authorize requests
      in: header
      name: x-api-key
      type: apiKey
      x-default: NEYNAR_API_DOCS
